{% extends "layout.html" %}
{% block content %}
<div class="page-container">
    <h1 class="centered-headline">Welcome to DataDictionary Version 0.1</h1>
    <div class="form-container">
        <p>Welcome to datadict.io. We're here to make documenting and understanding Power BI reports easy.</p>

        </p>Version 0.1 takes .PBIT files as inputs and returns a spreadsheet with tabs listing Data Sources, M-Code, Table Relationships, Columns, DAX measures, Pages and Visuals.</p>


        </form>
    </div>
</div>
{% endblock %}